@model SelectList
@{
    ViewData["Title"] = "Delete Role";
}

<h1 class="mb-4 text-center">Delete Role:</h1>
<hr />

<h3 class="mb-3">All Roles</h3>
<div class="d-flex flex-wrap mb-4">
    @foreach (var role in ViewBag.AllRoles)
    {
        <div class="badge bg-secondary text-white m-1">@role.Name</div>
    }
</div>

<h3 class="mb-3">Select the Role for Deleting</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="DeleteRole:">
            <div class="mb-2" style="width: 200px;">             
                <select name="role" asp-items="Model" class="form-select" style="width: 100%;">
                    <option value="">Select Role</option>
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-danger me-2">Delete</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>

        </form>
    </div>
</div>
